.navbar {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #17a2b8;
}

.navbar a {
  margin: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-decoration: none;
}

.navbar a:hover {
  color: goldenrod;
}

.navbar h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.active {
  color: gold;
}

